<div ng-hide="!vm.display">
	<div class="form-group" ng-show="vm.seasons.length>1">
		<select class="form-control" ng-model="vm.currentSeason" ng-options="season as 'Season '+ season for season in vm.seasons"/>
	</div>		
	<div class="list-group">
		<button class="list-group-item" ng-class="{'active':vm.angular.isUndefined(vm.next) || vm.angular.equals(vm.next,null)}" ng-click="vm.setNextEpisode()" ng-show="vm.currentSeason==vm.seasons[0]">		
			<dm-episode episode="null" airtime="vm.airtime" timezone="vm.timezone" headingclass="'list-group-item-heading'" textclass="'list-group-item-text'" previous="true"/>
			
		</button>
		<button class="list-group-item" ng-class="{'active':vm.angular.equals(vm.next, episode)}" ng-repeat="episode in vm.episodes | filter:{ seasonNum: vm.currentSeason }:true" ng-click="vm.setNextEpisode(episode)">
			<dm-episode episode="episode" airtime="vm.airtime" timezone="vm.timezone" headingclass="'list-group-item-heading'" textclass="'list-group-item-text'" previous="true"/>
		</button>
	</div>
	<div class="text-center bottom-btn-group" >
		<hr/>
		<button class="btn btn-default" ng-click="vm.display=!vm.display"><span class="glyphicon glyphicon-remove"></span> <span translate="common.close"/></button>
	</div>
</div>