<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">delimeat.io</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#app-navbar" aria-controls="app-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="app-navbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/"><span class="fa fa-home" aria-hidden="true"></span> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shows"><span class="fa fa-list" aria-hidden="true"></span> Shows</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/guide"><span class="fa fa-plus" aria-hidden="true"></span> Add Show</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/settings"><span class="fa fa-cog" aria-hidden="true"></span> Settings</a>
      </li>
    </ul>
  </div>
</nav>