<form name="form" class="ng-cloak">

	<div class="form-group" ng-class="{ 'has-error': form.title.$invalid && form.title.$dirty }">
		<div class="input-group" >
				<input type="search" class="form-control" name="title" id="title" placeholder="{{'guide.search.search_placeholder' | translate}}" ng-model="vm.title" required autofocus/>
				<span class="input-group-btn"> 
					<button class="btn btn-default" type="submit" ng-click="vm.search()" ng-disabled="form.$invalid || !form.$dirty"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button> 
				</span> 
		</div>
	</div>
	
</form>
<hr/>
<div class="list-group">
  <a ng-href="#/guide/info/{{result.guideId}}" class="list-group-item" ng-repeat="result in vm.results | orderBy:'firstAired':true">
	<h4 class="list-group-item-heading"><span ng-bind="result.title"></span> <small ng-bind="result.firstAired | date : 'yyyy'"/></h4>
	<p class="list-group-item-text" ng-bind="result.description || ('guide.search.no_description' | translate)"></p>
  </a>
</div>