<div class="list-group ng-cloak">

  <div class="list-group-item" ng-hide="vm.episodes.length>0">
  	<h4 class="list-group-item-heading" translate="episodes.no_episodes_title"/>
  	<p class="list-group-item-text" translate="episodes.no_episodes_suggestion"/>
  </div>
  

  <div class="list-group-item" ng-show="vm.episodes.length>0 && vm.showFilter == true">
	<div class="input-group">
	  <input type="text" class="form-control" placeholder="{{'episodes.title_filter_placeholder' | translate}}" ng-model="vm.title_filter">
	  <span class="input-group-addon"><span class="glyphicon glyphicon-filter"/></span>
	</div>
  </div>
  
  <div ng-href="#/show/{{episode.show.showId}}" class="list-group-item" ng-repeat="episode in vm.episodes | filter: {show:{title: vm.title_filter}} | orderBy: ['airDateTime','show.title']">
	<h4 class="list-group-item-heading" ng-bind="episode.show.title"/><span class="badge" ng-show="!episode.show.enabled" translate="shows.disabled"/><span class="badge" ng-show="!episode.show.airing" translate="shows.ended"/>
	
	<h4 ng-class="headingclass" translate="episode.season_format" translate-values="{ season: episode.seasonNum, episode: episode.episodeNum, title: episode.title || ('episode.no_title' | translate) }"/>
	
	<button class="btn btn-default pull-right" ng-show="episode.status == 'PENDING'" ng-click="vm.update(episode,'SKIPPED')"><span class="glyphicon glyphicon-remove"/> <span translate="episode.skip"/></button>
	<button class="btn btn-default pull-right" ng-show="episode.status != 'PENDING'" ng-click="vm.update(episode,'PENDING')"><span class="glyphicon glyphicon-download"/> <span translate="episode.pending"/></button>

	<p ng-class="textclass" ng-bind="episode.airDateTime | date : 'yyyy-MM-dd h:mm a'"/>
	
  </div>
  
</div>