<md-toolbar>
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="back" ng-click="vm.leave()"> 
			<md-icon md-svg-src="navigation:arrow_back"></md-icon> 
		</md-button>
		<h2>
			<span>Settings</span>
		</h2>
		<span flex></span>
	</div>
</md-toolbar>

<md-content md-scroll-y flex layout-padding >
	<form name="form"  layout="row" layout-sm="column">
		<div layout-gt-xs="row" layout-padding >
			<md-input-container class="md-block" flex> 
				<label>Search Interval</label> 
					<input type="number" ng-model="vm.settings.searchInterval" required/> 
			</md-input-container>
			<md-input-container class="md-block" flex> 
				<label>Output Directory</label> 
				<input ng-model="vm.settings.outputDirectory" required/>
			</md-input-container>
		</div>
		<div layout-gt-xs="row" layout-padding >
			<md-input-container class="md-block" flex-gt-xs> 
				<md-checkbox ng-model="vm.settings.preferFiles">Prefer Files</md-checkbox> 
			</md-input-container>
			<md-input-container class="md-block" flex-gt-xs>
				<md-checkbox ng-model="vm.settings.ignoreFolders">Ignore Folders</md-checkbox> 
			</md-input-container>
		</div>
		<div layout-gt-xs="row" layout-padding >
			<md-input-container class="md-block" flex-gt-xs> 
				<label>Ignored File Types</label> 
				<input ng-model="vm.settings.ignoredFileTypes.fileType" ng-list/> 
			</md-input-container>
		</div>
	</form>
</md-content>