<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{36} - %msg%n" />
    </Console>
  </Appenders>
  <Loggers>
    <logger name="io.delimeat" level="ALL" additivity="false">
      <AppenderRef ref="Console" />
    </logger>
    <logger name="org.glassfish.jersey" level="ALL" additivity="false">
      <AppenderRef ref="Console" />
    </logger>
    <Root level="WARN" additivity="false">
      <AppenderRef ref="Console" />
    </Root>
  </Loggers>
</Configuration>