.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body { padding-top: 55px;}

#delimeat-main {
	padding-right: 5px;
	padding-left: 5px;
}

.working{
	height:100vh;
	width:100%;
	background:grey;
	opacity:0.5;
	position:fixed;
	left:0;
	top:0;
	z-index:10000;
}

.animate-show {
	opacity:0.5;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  	transition: all linear 0.1s;
}

.animate-show.ng-hide {
  	opacity: 0;
}

.navbar .brand {
	max-height: 40px;
	overflow: visible;
	padding-top: 0;
	padding-bottom: 0;
}
.navbar a.navbar-brand {
	padding: 0px 15px 8px; 
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.bottom-btn-group{
	padding-bottom: 20px;
}

.glyphicon-refresh-animate {
	font-size: 5.0em;
	animation-name: spin;
	animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
