md-icon{
	height:24px;
	width:24px;
}


html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

md-toolbar md-icon.md-default-theme {
  color: white; 
}


/* Sidenav area */
/*
md-sidenav md-list md-list-item .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}*/

/*
md-list {
   padding: 0px 0px 8px 0px;
 }
*/

#content {
  overflow: hidden;
}


md-list md-list-item .md-button {
  color: inherit;
  text-align: left;
  width: 100%;
  padding: 0px;
  margin: 0px;
}


.menu .md-button {
    border-radius: 0px;
    color: inherit;
    cursor: pointer;
    display: block;
    line-height: 40px;
    margin: 0px;
    max-height: 40px;
    overflow: hidden;
    padding: 0px 16px;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;
}

.menu .md-button span {
	padding-left:18px;
}

.search {
	margin:16px;
	padding:16px;
	border-width:0px;
	border:none;	
}